[Desktop Entry]
Type=Application
Name=rechan
GenericName=Jackie Chan Stuntmaster
Comment=Play Jackie Chan Stuntmaster with the rechan reimplementation
Exec=sh -c 'cd -- "$(dirname -- "$1")" && exec ./rechan' sh %k
Icon=rechan
Terminal=false
Categories=Game;ActionGame;
StartupWMClass=rechan
